<!DOCTYPE html>
<html>
<head>
    <title>Real time product's list</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Real time product's list</h1>
    <% products.forEach(product => { %>
    <div>
        <p><%= product.title %></p>
        <p><%= product.description %></p>
    </div>
    <% }); %>
    <div id="product-list"></div> 
    <script src="/js/socketClient.js"></script> 
</body>
</html>
